.git
.gitignore
.dart_tool
.idea
.vscode
build
android/app/debug
android/app/profile
android/app/release
ios/Pods
ios/.symlinks
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
.DS_Store
*.iml
*.log
*.lock
*.swp
*.swo 